@import url('https://fonts.googleapis.com/css2?family=Alef&family=Asap+Condensed:wght@600&family=Rokkitt:wght@600&family=Texturina:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'poppins', sans-serif;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-family: 'Rokkitt', serif;
}
p {
  color: #10a36b;
  font-size: 1.1rem;
  font-family: 'Alef', sans-serif;
  letter-spacing: 2px;
}
span {
  color: #d2691e;
  font-family: 'Asap Condensed', sans-serif;
}
.navbar-brand {
  font-family: 'Texturina', serif;
}
.div_contain {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: -60px;
}
.left_cont, .right_cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  flex-direction: column;
}
.right_cont img {
  height: 70%;
  width: 100%;
}
.share_cont {
  position: absolute;
  left: 40%;
  top: 67%;
  transform: translate(-50%, -50%);
}
.share_cont i {
  margin: 6px;
}

@media (max-width:765px) {
  .div_contain {
    flex-direction: column;
  }
  .left_cont, .right_cont {
    height: 60vh;
    width: 100vw;
  }
  .left_cont {
    top: 60vh;
  }
  .right_cont {
    top: -50vh;
  }
  .share_cont {
    top: 77%;
  }
  p {
    font-size: .9rem;
    letter-spacing: 1px;
  }
  .font {
    font-size: 0.3rem;
  }
}